*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.15s ease-in-out;
}
header.shadow{
    background: rgba(0, 0, 0, 0.17);
    backdrop-filter: blur(10px);
    box-shadow: 6px 8px 10px 1px rgba(131, 131, 131, 0.1);
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.514);
}
header .logo{
    margin: 1px;
    border-radius: 10px;
    transition: 0.3s ease; 
}
header .logo img{
    width: 175px;
}
header .logo:hover{
    transform: scale(1.3);
}

header .navigation{
    position: relative;
}
header .navigation .navigation-items a{
    position: relative;
    padding: 10px 15px;
    border-radius: 8px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: 0.3s ease;
    background: rgba(0, 0, 0, 0.329);
    border: 2px solid rgba(255, 255, 255, 0.514);
    backdrop-filter: blur(10px);
    box-shadow: 6px 8px 10px 1px rgba(0,0,0,0.53);
}
header .navigation .navigation-items a:hover{
    color: black;
    background: #ffffff;
    width: 100%;
    font-size: 1.1em;
}
body {
    background-image: url('bg3.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed; 
    background-size:cover;
    background-position: center;
    min-width: 200px;
}
section {
    /* padding: 50px; */
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #ffffff09;
    color: #fff6f6;
    z-index: 888;
    padding-top: 11%;
}
.home::before{
    z-index: 777;
    content: '';
    position: fixed;
    background: rgba(0, 0, 0, 0.586);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(6px);
}
.home .dis{
    color: #fff6f6;
    z-index: 888;
    width: 100%;
    padding: 25px;
    position: relative;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.329);
    border: 2px solid rgba(255, 255, 255, 0.197);
    backdrop-filter: blur(16px);
    box-shadow: -5px 8px 15px 5px rgba(0,0,0,0.5);
    display: block;
}
.home .dis h1{
    text-align: center;
}
.home .dis p{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}
.home .episode-section {
    z-index: 888;
    padding-top: 20px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 1rem;

    border-radius: 20px;
    background: rgba(0, 0, 0, 0.329);
    border: 2px solid rgba(255, 255, 255, 0.197);
    backdrop-filter: blur(5px);
    box-shadow: -5px 8px 15px 5px rgba(0,0,0,0.5);
}
.home .episode-section .ep-name ,.home .episode-section .layer{
    margin-top: 10px;
    font-weight: 500;
    text-align: center;
    width: 100%;
}
.home .episode-section .ep-name span{
    color: #ffffff83;
}
.home .episode-section .set{
    width: 100%;
    border-radius: 5px;
}
.home .episode-section .set .ep-img img{
    opacity: 1;
    width: 100%;
    max-width: 300px;
    min-width: 50px;
    object-fit: cover;
    border-radius: 15px;
    border: 4px solid rgb(255 255 255);
    backface-visibility: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home .episode-section .set .ep-img .layer{
    transition: .3s ease;
    opacity: 0;
    top: 25%;
    left: 25%;
    transform: translate(0%, -1030%);
    -ms-transform: translate(0%, -1030%);
    text-align: center;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
}

.home .episode-section .set .ep-img .watch{
    background-color: #045daa;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    border: 2px solid rgba(255, 255, 255, 0.466);
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;

    border-radius: 15px;
    background: rgba(0, 0, 0, 0.489);
    backdrop-filter: blur(7px);
}
.home .episode-section .set:hover .ep-img img{
    opacity: 0.2;
}
.home .episode-section .set:hover .ep-img .layer{
    opacity: 1;
}
.home .episode-section .set .ep-img .watch:hover{
    color: black;
    background: #ffffff;
    width: 100%;
    transition: 0.2s ease;
}

/*footer*/
.footer {
    z-index: 89988;
    display: flex;
    justify-content: space-between;
}
.footer .trailer-link{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.footer .trailer-link #yt-icon{
    margin-right: auto;
    width: 60px;
    backdrop-filter: blur(1px);
    border: 4px soli rgba(255, 255, 255, 0.526);
    transition: 0.2s ease;
}
.footer .social-link{
    display: flex;
    margin-left: auto;
    align-items: center;
    column-gap: 0.5rem;
}
.footer .social-link .social-icons{
    width: 50px;
    backdrop-filter: blur(1px);
    transition: 0.2s ease;
}
.footer .social-icons:hover {
    transform: scale(1.15);
    transition: 0.35s ease;
}
#yt-icon:hover{
    transform: scale(1.2);
    transition: 0.35s ease;
}

.footer .social-link img{
    width: 50px;
}
.copyright{
    z-index: 5000;
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: 500;
    text-align: center;
}
/* Responsive CSS */
@media(max-width:1405px){
    .home .episode-section {
        grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    }
}
@media(max-width: 1220px){
    .home{
        padding-top: 15%;
        text-align: center;
    }
}
@media(max-width: 1040px){
    header{
        padding: 12px 20px;
    }
    section {
        padding: 0px 20px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        position: fixed;
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }
    header .navigation .navigation-items a{
        color: #ffffff;
        font-size: 1.2em;
        margin: 1%;
    }
    header .navigation.active .navigation-items {
        background: rgba(0, 0, 0, 0.329);
        border: 2px solid rgba(255, 255, 255, 0.197);
        backdrop-filter: blur(10px);
        width: 600px;
        max-width: 600px;
        margin: 5vmin;
        margin-top: 75vmax;
        padding: 40px;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: 6px 8px 10px 1px rgba(0,0,0,0.53);
    }
    .menu-btn{
        background: url(menu.png)no-repeat;
        background-size: 40px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
        margin-left: auto;
    }
    .menu-btn:hover{
        transform: scale(1.3);
    }
    .menu-btn.active{
        z-index: 999;
        background: url(close.png)no-repeat;
        background-size: 40px;
        background-position: center;
        transition: 0.3s ease;
    }
    header .logo{
        margin: 0.5%;
        border-radius: 10px;
        transition: 0.3s ease;
    }
    header{
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 20px;
    }
    header.shadow{
        background: rgba(0, 0, 0, 0.147);
        backdrop-filter: blur(10px);
        box-shadow: 6px 8px 10px 1px rgba(131, 131, 131, 0.1);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.514);
    }
    .copyright{
        padding-top: 5px;
        padding-bottom: 10px;
        font-weight: 400;
    }
}
@media(max-width:821px){
    .home{
        padding-top: 17vh;
    }
    .home .episode-section {
        padding: 30px;
    }
    .home .episode-section {
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, auto));
        gap: 1rem;
    }

}
@media(max-width: 450px){
    .home .episode-section {
        padding-left: 1%;
        padding-right: 1%;
        display: block;
        align-content: center;
    }
    .home .episode-section .set{
        align-self: center;
        max-width: none;
        width: 90%;
        margin-left: 5%;
    }
    .footer .social-link .social-icons{
        width: 30px;
    }
    .footer .trailer-link #yt-icon{
        width: 40px;
    }
}
@media(max-width: 415px){
    header{
        padding: 1%;
        padding-right: 20px;

    }
    header .logo img{
        width: 125px;
    }
    .home {
        padding-top: 12vh;
    }
    .home .episode-section{
        display: block;
        margin-right: 5%;
        margin-left: 5%;
        align-self: center;
    }
}
@media(max-width: 250px){
    header .logo{
        display: none;
    }
    .home .episode-section .set .ep-img .watch{
        font-size: 10px;
        padding: 10px 25px;
        border: 2px solid rgba(255, 255, 255, 0.466);
    }
    .home .episode-section .set .ep-img .layer {
        transform: translate(0%, -1250%);
        -ms-transform: translate(0%, -1250%);

    }


}

@media(min-width: 2000px){
    .home{
        padding-top: 0;
    }
    .home .dis h1{
        font-size: 30px;
    }
    .home .dis p{
        font-size: 22px;
    }
}